In [76]:
from sqlalchemy import create_engine, Column, Integer, String, Float, DateTime, text
from sqlalchemy.orm import declarative_base, sessionmaker
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.exc import SQLAlchemyError
from sqlalchemy import Column, String, Integer, Float, DateTime
from sqlalchemy.orm import declarative_base
from sqlalchemy.exc import SQLAlchemyError
from sqlalchemy import create_engine, text
from sqlalchemy.exc import SQLAlchemyError
import pandas as pd
from sqlalchemy.dialects.mysql import insert

In [58]:
Base = declarative_base()

# Define the Client model
class Client(Base):
    __tablename__ = 'clients'
    client_id = Column(String(50), primary_key=True)  # Specify length for VARCHAR
    sex = Column(String(10))  # Specify length for VARCHAR
    birth = Column(Integer)

# Define the Product model
class Product(Base):
    __tablename__ = 'products'
    product_id = Column(String(50), primary_key=True)  
    category = Column(String(50))  
    sub_category = Column(String(50)) 
    price = Column(Float)
    stock_quantity = Column(Integer)

# Define the Sale model
class Sale(Base):
    __tablename__ = 'sales'
    product_id = Column(String(50))  
    date = Column(DateTime)
    session_id = Column(String(50), primary_key=True)  
    client_id = Column(String(50))  
    quantity_sold = Column(Integer)

DATABASE_URL = "mysql+pymysql://root:mypass@localhost/"

def create_database_if_not_exists():
    try:
        engine = create_engine(DATABASE_URL)
        with engine.connect() as connection:
            connection.execute(text("CREATE DATABASE IF NOT EXISTS brief"))
        print("Database 'brief' created or already exists.")
    except SQLAlchemyError as e:
        print(f"Error while creating database: {e}")

# Function to create tables
def create_tables():
    try:
        DATABASE_URL_WITH_DB = "mysql+pymysql://root:mypass@localhost/brief"
        engine = create_engine(DATABASE_URL_WITH_DB)
        Base.metadata.create_all(engine, checkfirst=True)
        print("Tables created successfully! You can dance!")
    except SQLAlchemyError as e:
        print(f"Error while creating tables: {e}")

if __name__ == "__main__":
    create_database_if_not_exists()

    create_tables()

Database 'brief' created or already exists.
Tables created successfully! You can dance!

In [36]:
# #You also can use a function if u want to re execute your tables 
# def clear_tables():
#     try:
#         session.execute('TRUNCATE TABLE clients')
#         session.execute('TRUNCATE TABLE products')
#         session.execute('TRUNCATE TABLE sales')
#         session.commit()
#         print("Tables cleared successfully!")
#     except SQLAlchemyError as e:
#         session.rollback()
#         print(f"Error clearing tables: {e}")

In [7]:
def load_data():
    try:
        print("Loading CSV files...")
        
        clients_df = pd.read_csv('clients.csv', delimiter=',')
        produits_df = pd.read_csv('produits_sous-categorie.csv', delimiter=',')
        ventes_df = pd.read_csv('ventes.csv', delimiter=',')
        print("CSV files loaded successfully!")
        
        print("Clients DataFrame columns:", clients_df.columns)
        print("Products DataFrame columns:", produits_df.columns)
        print("Sales DataFrame columns before renaming:", ventes_df.columns)

        clients_df.columns = clients_df.columns.str.strip()
        produits_df.columns = produits_df.columns.str.strip()
        ventes_df.columns = ventes_df.columns.str.strip()

        ventes_df.rename(columns={'id_prod': 'product_id'}, inplace=True)

        print("Sales DataFrame columns after renaming:", ventes_df.columns)

        ventes_df = ventes_df.drop_duplicates(subset=['session_id'])
        print(f"Number of sales after removing duplicates: {len(ventes_df)}")

        print("Inserting clients data...")
        for index, row in clients_df.iterrows():
            client = Client(client_id=row['client_id'], sex=row['sex'], birth=row['birth'])
            session.add(client)

        print("Inserting products data...")
        for index, row in produits_df.iterrows():
            if isinstance(row['price'], str):
                price = float(row['price'].replace(',', '.'))
            else:
                price = row['price']

            product = Product(
                product_id=row['product_id'], 
                category=row['category'], 
                sub_category=row['sub_category'],
                price=price,
                stock_quantity=row['stock_quantity']
            )
            session.add(product)

        print("Inserting sales data...")
        for index, row in ventes_df.iterrows():
            sale = Sale(
                product_id=row['product_id'], 
                date=pd.to_datetime(row['date']), 
                session_id=row['session_id'], 
                client_id=row['client_id'], 
                quantity_sold=row['quantity_sold']
            )
            session.add(sale)

        session.commit()
        print("Data successfully inserted and committed!")

    except SQLAlchemyError as e:
        session.rollback()  
        print(f"An error occurred during database operations: {e}")
    except Exception as e:
        session.rollback()
        print(f"An error occurred while loading data: {e}")
    finally:
        session.close()  
        print("Session closed.")

load_data()

Loading CSV files...
CSV files loaded successfully!
Clients DataFrame columns: Index(['client_id', 'sex', 'birth'], dtype='object')
Products DataFrame columns: Index(['product_id', 'category', 'sub_category', 'price', 'stock_quantity'], dtype='object')
Sales DataFrame columns before renaming: Index(['id_prod', 'date', 'session_id', 'client_id', 'quantity_sold'], dtype='object')
Sales DataFrame columns after renaming: Index(['product_id', 'date', 'session_id', 'client_id', 'quantity_sold'], dtype='object')
Number of sales after removing duplicates: 169194
Inserting clients data...
Inserting products data...
Inserting sales data...
Data successfully inserted and committed!
Session closed.

## This is a time of JSON file

In [7]:
def test_read_json():
    try:
        clients_df = pd.read_json('clients.json')
        produits_df = pd.read_json('produits_sous-categorie.json')
        ventes_df = pd.read_json('ventes.json')
        
        print("Clients JSON file:")
        print(clients_df.head())
        
        print("Products JSON file:")
        print(produits_df.head())
        
        print("Sales JSON file:")
        print(ventes_df.head())
        
    except Exception as e:
        print(f"Error reading JSON files: {e}")

test_read_json()

Clients JSON file:
  client_id sex  birth
0    c_4450   f   1977
1     c_277   f   2000
2    c_4270   f   1979
3    c_4597   m   1963
4    c_1242   f   1980
Products JSON file:
   product_id     category        sub_category  price  stock_quantity
0        1483    Vêtements            T-shirts   4,99              48
1        2226      Montres  Montres connectées  65,75              63
2        1374  Accessoires         Sacs à main  10,71              97
3        2186    Vêtements            T-shirts    4,2              57
4        1351    Vêtements            T-shirts   8,99              59
Sales JSON file:
   product_id                date session_id client_id  quantity_sold
0        1483 2021-10-04 18:37:00    s_18746    c_4450              5
1        2226 2022-03-02 01:55:00   s_159142     c_277              6
2        1374 2021-09-23 15:13:00    s_94290    c_4270              3
3        2186 2021-10-17 03:27:00   s_105936    c_4597              8
4        1351 2021-07-17 20:34:00    s_63642    c_1242              2

In [9]:
from sqlalchemy import create_engine, text
from sqlalchemy.exc import SQLAlchemyError

DATABASE_URL = "mysql+pymysql://root:mypass@localhost/"

def create_json_database_if_not_exists():
    try:
        engine = create_engine(DATABASE_URL)
        with engine.connect() as connection:
            connection.execute(text("CREATE DATABASE IF NOT EXISTS brief_json"))
        print("Database 'brief_json' created or already exists.")
    except SQLAlchemyError as e:
        print(f"Error while creating database: {e}")
create_json_database_if_not_exists()

Database 'brief_json' created or already exists.

In [60]:
Base = declarative_base()

class Client(Base):
    __tablename__ = 'client'  
    client_id = Column(String(50), primary_key=True)
    sex = Column(String(10))
    birth = Column(Integer)

class Product(Base):
    __tablename__ = 'product'  
    product_id = Column(String(50), primary_key=True)
    category = Column(String(50))
    sub_category = Column(String(50))
    price = Column(Float)
    stock_quantity = Column(Integer)

class Sale(Base):
    __tablename__ = 'ventes'  
    product_id = Column(String(50))
    date = Column(DateTime)
    session_id = Column(String(50), primary_key=True)
    client_id = Column(String(50))
    quantity_sold = Column(Integer)

def create_json_tables():
    try:
        DATABASE_URL_WITH_JSON_DB = "mysql+pymysql://root:mypass@localhost/brief_json"
        engine = create_engine(DATABASE_URL_WITH_JSON_DB)
        Base.metadata.create_all(engine, checkfirst=True)
        print("Tables created successfully in 'brief_json' database!")
    except SQLAlchemyError as e:
        print(f"Error while creating tables: {e}")

create_json_tables()

Tables created successfully in 'brief_json' database!

In [27]:
def drop_json_tables():
    try:
        DATABASE_URL_WITH_JSON_DB = "mysql+pymysql://root:mypass@localhost/brief_json"
        engine = create_engine(DATABASE_URL_WITH_JSON_DB)
        
        Base.metadata.drop_all(engine, tables=[Client.__table__, Product.__table__, Sale.__table__])
        print("Tables dropped successfully from 'brief_json' database!")
    except SQLAlchemyError as e:
        print(f"Error while dropping tables: {e}")

drop_json_tables()

Tables dropped successfully from 'brief_json' database!

In [63]:


def load_json_data():
    try:
        DATABASE_URL_WITH_JSON_DB = "mysql+pymysql://root:mypass@localhost/brief_json"
        engine = create_engine(DATABASE_URL_WITH_JSON_DB)
        Session = sessionmaker(bind=engine)
        session = Session()

        print("Loading JSON files...")
        
        # Load JSON files
        clients_df = pd.read_json('clients.json')
        produits_df = pd.read_json('produits_sous-categorie.json')
        ventes_df = pd.read_json('ventes.json')
        print("JSON files loaded successfully!")
        
        clients_df.columns = clients_df.columns.str.strip()
        produits_df.columns = produits_df.columns.str.strip()
        ventes_df.columns = ventes_df.columns.str.strip()

        # Удаление дубликатов
        clients_df = clients_df.drop_duplicates(subset=['client_id'])
        produits_df = produits_df.drop_duplicates(subset=['product_id'])
        ventes_df = ventes_df.drop_duplicates(subset=['session_id'])

        print(f"Number of clients after removing duplicates: {len(clients_df)}")
        print(f"Number of products after removing duplicates: {len(produits_df)}")
        print(f"Number of sales after removing duplicates: {len(ventes_df)}")

        # Insert products data with ON DUPLICATE KEY UPDATE
        print("Inserting products data...")
        for index, row in produits_df.iterrows():
            price = float(row['price'].replace(',', '.')) if isinstance(row['price'], str) else row['price']
            insert_stmt = insert(Product).values(
                product_id=row['product_id'], 
                category=row['category'], 
                sub_category=row['sub_category'],
                price=price,
                stock_quantity=row['stock_quantity']
            )
            # Обновляем продукт, если он уже существует
            on_duplicate_key_stmt = insert_stmt.on_duplicate_key_update(
                category=row['category'],
                sub_category=row['sub_category'],
                price=price,
                stock_quantity=row['stock_quantity']
            )
            session.execute(on_duplicate_key_stmt)
        print(f"Inserted {len(produits_df)} products with duplicate handling.")

        session.commit()
        print("Data successfully inserted and committed to 'brief_json'!")

    except SQLAlchemyError as e:
        session.rollback()
        print(f"An error occurred during database operations: {e}")
    except Exception as e:
        session.rollback()
        print(f"An error occurred while loading data: {e}")
    finally:
        session.close()
        print("Session closed.")



if __name__ == "__main__":
    #create_json_database_if_not_exists()
    
    create_json_tables()
    
    clear_json_tables()
    
    load_json_data()

Tables created successfully in 'brief_json' database!
Tables cleared successfully in 'brief_json' database!
Loading JSON files...
JSON files loaded successfully!
Number of clients after removing duplicates: 8600
Number of products after removing duplicates: 2289
Number of sales after removing duplicates: 169114
Inserting products data...
Inserted 2289 products with duplicate handling.
Data successfully inserted and committed to 'brief_json'!
Session closed.

In [ ]:
def clear_tables(session):
    try:
        session.execute(text("TRUNCATE TABLE client"))
        session.execute(text("TRUNCATE TABLE product"))
        session.execute(text("TRUNCATE TABLE ventes"))
        session.commit()
        print("Tables cleared successfully!")
    except SQLAlchemyError as e:
        session.rollback()
        print(f"An error occurred while clearing tables: {e}")

In [92]:

def load_json_data():
    try:
        DATABASE_URL_WITH_JSON_DB = "mysql+pymysql://root:mypass@localhost/brief_json"
        engine = create_engine(DATABASE_URL_WITH_JSON_DB, echo=True)
        Session = sessionmaker(bind=engine)
        session = Session()

        clear_tables(session)

        print("Loading JSON files...")
        
        clients_df = pd.read_json('clients.json')
        produits_df = pd.read_json('produits_sous-categorie.json')
        ventes_df = pd.read_json('ventes.json')
        print("JSON files loaded successfully!")

        clients_df.columns = clients_df.columns.str.strip()
        produits_df.columns = produits_df.columns.str.strip()
        ventes_df.columns = ventes_df.columns.str.strip()

        clients_df = clients_df.drop_duplicates(subset=['client_id'])
        produits_df = produits_df.drop_duplicates(subset=['product_id'])
        ventes_df = ventes_df.drop_duplicates(subset=['session_id'])

        print(f"Number of clients after removing duplicates: {len(clients_df)}")
        print(f"Number of products after removing duplicates: {len(produits_df)}")
        print(f"Number of sales after removing duplicates: {len(ventes_df)}")

        print("Inserting clients data...")
        for index, row in clients_df.iterrows():
            client = Client(client_id=row['client_id'], sex=row['sex'], birth=row['birth'])
            session.add(client)
        print(f"Inserted {len(clients_df)} clients.")

        print("Inserting products data...")
        for index, row in produits_df.iterrows():
            price = float(row['price'].replace(',', '.')) if isinstance(row['price'], str) else row['price']
            product = Product(
                product_id=row['product_id'], 
                category=row['category'], 
                sub_category=row['sub_category'],
                price=price,
                stock_quantity=row['stock_quantity']
            )
            session.add(product)
        print(f"Inserted {len(produits_df)} products.")

        print("Inserting sales data...")
        for index, row in ventes_df.iterrows():
            sale = Sale(
                product_id=row['product_id'], 
                date=pd.to_datetime(row['date']), 
                session_id=row['session_id'], 
                client_id=row['client_id'], 
                quantity_sold=row['quantity_sold']
            )
            session.add(sale)
        print(f"Inserted {len(ventes_df)} sales.")

        try:
            session.commit()
            print("Data successfully committed!")
        except SQLAlchemyError as e:
            session.rollback()  
            print(f"An error occurred during commit: {e}")

    except SQLAlchemyError as e:
        print(f"An error occurred during database operations: {e}")
    except Exception as e:
        print(f"An error occurred while loading data: {e}")
    finally:
        session.close()
        print("Session closed.")

load_json_data()

2024-10-23 16:07:45,671 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-10-23 16:07:45,671 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-10-23 16:07:45,673 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-10-23 16:07:45,674 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-10-23 16:07:45,675 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-10-23 16:07:45,676 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-10-23 16:07:45,678 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-23 16:07:45,680 INFO sqlalchemy.engine.Engine TRUNCATE TABLE client
2024-10-23 16:07:45,682 INFO sqlalchemy.engine.Engine [generated in 0.00126s] {}
2024-10-23 16:07:45,728 INFO sqlalchemy.engine.Engine TRUNCATE TABLE product
2024-10-23 16:07:45,729 INFO sqlalchemy.engine.Engine [generated in 0.00097s] {}
2024-10-23 16:07:45,759 INFO sqlalchemy.engine.Engine TRUNCATE TABLE ventes
2024-10-23 16:07:45,760 INFO sqlalchemy.engine.Engine [generated in 0.00169s] {}
2024-10-23 16:07:45,794 INFO sqlalchemy.engine.Engine COMMIT
Tables cleared successfully!
Loading JSON files...
JSON files loaded successfully!
Number of clients after removing duplicates: 8600
Number of products after removing duplicates: 2289
Number of sales after removing duplicates: 169114
Inserting clients data...
Inserted 8600 clients.
Inserting products data...
Inserted 2289 products.
Inserting sales data...
Inserted 169114 sales.
2024-10-23 16:08:23,572 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-23 16:08:23,655 INFO sqlalchemy.engine.Engine INSERT INTO client (client_id, sex, birth) VALUES (%(client_id)s, %(sex)s, %(birth)s)
2024-10-23 16:08:23,656 INFO sqlalchemy.engine.Engine [generated in 0.01457s] [{'client_id': 'c_4450', 'sex': 'f', 'birth': 1977}, {'client_id': 'c_277', 'sex': 'f', 'birth': 2000}, {'client_id': 'c_4270', 'sex': 'f', 'birth': 1979}, {'client_id': 'c_4597', 'sex': 'm', 'birth': 1963}, {'client_id': 'c_1242', 'sex': 'f', 'birth': 1980}, {'client_id': 'c_2526', 'sex': 'f', 'birth': 1982}, {'client_id': 'c_5799', 'sex': 'f', 'birth': 1962}, {'client_id': 'c_1422', 'sex': 'f', 'birth': 1980}  ... displaying 10 of 8600 total bound parameter sets ...  {'client_id': 'c_4679', 'sex': 'f', 'birth': 1930}, {'client_id': 'c_8005', 'sex': 'f', 'birth': 1955}]
2024-10-23 16:08:23,869 INFO sqlalchemy.engine.Engine INSERT INTO product (product_id, category, sub_category, price, stock_quantity) VALUES (%(product_id)s, %(category)s, %(sub_category)s, %(price)s, %(stock_quantity)s)
2024-10-23 16:08:23,870 INFO sqlalchemy.engine.Engine [generated in 0.00695s] [{'product_id': 1483, 'category': 'Vêtements', 'sub_category': 'T-shirts', 'price': 4.99, 'stock_quantity': 48}, {'product_id': 2226, 'category': 'Montres', 'sub_category': 'Montres connectées', 'price': 65.75, 'stock_quantity': 63}, {'product_id': 1374, 'category': 'Accessoires', 'sub_category': 'Sacs à main', 'price': 10.71, 'stock_quantity': 97}, {'product_id': 2186, 'category': 'Vêtements', 'sub_category': 'T-shirts', 'price': 4.2, 'stock_quantity': 57}, {'product_id': 1351, 'category': 'Vêtements', 'sub_category': 'T-shirts', 'price': 8.99, 'stock_quantity': 59}, {'product_id': 1085, 'category': 'Vêtements', 'sub_category': 'T-shirts', 'price': 3.99, 'stock_quantity': 43}, {'product_id': 1508, 'category': 'Vêtements', 'sub_category': 'T-shirts', 'price': 8.03, 'stock_quantity': 72}, {'product_id': 1627, 'category': 'Vêtements', 'sub_category': 'T-shirts', 'price': 3.99, 'stock_quantity': 80}  ... displaying 10 of 2289 total bound parameter sets ...  {'product_id': 541, 'category': 'Vêtements', 'sub_category': 'T-shirts', 'price': 1.99, 'stock_quantity': 6}, {'product_id': 833, 'category': 'Vêtements', 'sub_category': 'T-shirts', 'price': 2.99, 'stock_quantity': 24}]
2024-10-23 16:08:26,943 INFO sqlalchemy.engine.Engine INSERT INTO ventes (product_id, date, session_id, client_id, quantity_sold) VALUES (%(product_id)s, %(date)s, %(session_id)s, %(client_id)s, %(quantity_sold)s)
2024-10-23 16:08:26,945 INFO sqlalchemy.engine.Engine [generated in 1.02707s] [{'product_id': 1483, 'date': Timestamp('2021-10-04 18:37:00'), 'session_id': 's_18746', 'client_id': 'c_4450', 'quantity_sold': 5}, {'product_id': 2226, 'date': Timestamp('2022-03-02 01:55:00'), 'session_id': 's_159142', 'client_id': 'c_277', 'quantity_sold': 6}, {'product_id': 1374, 'date': Timestamp('2021-09-23 15:13:00'), 'session_id': 's_94290', 'client_id': 'c_4270', 'quantity_sold': 3}, {'product_id': 2186, 'date': Timestamp('2021-10-17 03:27:00'), 'session_id': 's_105936', 'client_id': 'c_4597', 'quantity_sold': 8}, {'product_id': 1351, 'date': Timestamp('2021-07-17 20:34:00'), 'session_id': 's_63642', 'client_id': 'c_1242', 'quantity_sold': 2}, {'product_id': 1085, 'date': Timestamp('2021-09-15 05:47:00'), 'session_id': 's_90139', 'client_id': 'c_2526', 'quantity_sold': 7}, {'product_id': 1508, 'date': Timestamp('2021-08-29 05:39:00'), 'session_id': 's_82100', 'client_id': 'c_5799', 'quantity_sold': 7}, {'product_id': 1627, 'date': Timestamp('2021-09-19 14:54:00'), 'session_id': 's_92294', 'client_id': 'c_1422', 'quantity_sold': 5}  ... displaying 10 of 169114 total bound parameter sets ...  {'product_id': 1256, 'date': Timestamp('2021-03-16 17:31:00'), 'session_id': 's_7219', 'client_id': 'c_4137', 'quantity_sold': 7}, {'product_id': 2227, 'date': Timestamp('2021-10-30 16:50:00'), 'session_id': 's_112349', 'client_id': 'c_5', 'quantity_sold': 8}]
2024-10-23 16:08:33,926 INFO sqlalchemy.engine.Engine COMMIT
Data successfully committed!
Session closed.

In [90]:
def check_data():
    try:
        DATABASE_URL_WITH_JSON_DB = "mysql+pymysql://root:Parisonata1998!@localhost/brief_json"
        engine = create_engine(DATABASE_URL_WITH_JSON_DB)

        with engine.connect() as connection:
            result = connection.execute(text("SELECT COUNT(*) FROM client"))
            clients_count = result.scalar()
            print(f"Number of clients in the database: {clients_count}")

            result = connection.execute(text("SELECT COUNT(*) FROM product"))
            products_count = result.scalar()
            print(f"Number of products in the database: {products_count}")

            result = connection.execute(text("SELECT COUNT(*) FROM ventes"))
            sales_count = result.scalar()
            print(f"Number of sales in the database: {sales_count}")

            print("\nSample clients:")
            result = connection.execute(text("SELECT * FROM client LIMIT 5"))
            for row in result:
                print(row)

            print("\nSample products:")
            result = connection.execute(text("SELECT * FROM product LIMIT 5"))
            for row in result:
                print(row)

            print("\nSample sales:")
            result = connection.execute(text("SELECT * FROM ventes LIMIT 5"))
            for row in result:
                print(row)

    except Exception as e:
        print(f"An error occurred while checking data: {e}")

check_data()

Number of clients in the database: 8600
Number of products in the database: 2289
Number of sales in the database: 169114

Sample clients:
('c_1', 'm', 1955)
('c_10', 'm', 1956)
('c_100', 'm', 1992)
('c_1000', 'f', 1966)
('c_1001', 'm', 1982)

Sample products:
('0', 'Vêtements', 'T-shirts', 3.75, 96)
('1', 'Vêtements', 'T-shirts', 10.99, 77)
('10', 'Vêtements', 'T-shirts', 17.95, 34)
('100', 'Vêtements', 'T-shirts', 20.6, 55)
('1000', 'Vêtements', 'T-shirts', 6.84, 61)

Sample sales:
('1259', datetime.datetime(2021, 1, 3, 0, 1), 's_1', 'c_329', 4)
('1635', datetime.datetime(2021, 1, 3, 0, 10), 's_10', 'c_2218', 1)
('1451', datetime.datetime(2021, 1, 3, 4, 43), 's_100', 'c_3854', 6)
('1449', datetime.datetime(2021, 3, 3, 3, 18), 's_1000', 'c_1014', 5)
('1418', datetime.datetime(2021, 3, 22, 18, 15), 's_10000', 'c_476', 9)